body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background:blueviolet ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

.heading {
    position: absolute;
    top: 10%;
    text-align: center;
    
}

.heading p{
    font-size: 1.4em;
    line-height: 0;
    color: #ffffff;

}

.heading h2{
    font-size: 3.5em;
    line-height: 0;
    color: #ffffff;
    
}

.timer {
    margin: 15px 30px;
    width: 120px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    box-shadow: 15px 10px 20px #666666;
    cursor: pointer;



}


.timer p{
    color: white;
    font-size: 45px;
    margin: 25px 8px;
 
}

.timer h6{
    margin: 0;
    padding: 10px;
    font-size: 1em;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 15px 10px 20px #666666;
    
}